<form action="/quizes">
    <label>Buscar preguntas</label>
    <input type="text" name="search" value=""/>
    <input type="submit" value="buscar"/>
</form>

<table>
    <% if (quizes.length === 0) { %>
        <tr>
            <td>No hay preguntas.</td>
        </tr>
    <% } %>

    <% var i; for(i=0; i < quizes.length; i++) { %>
    <tr>
        <td>
            <a href="/quizes/<%= quizes[i].id %>">
                <%= quizes[i].pregunta %>
            </a>
        </td>
        <td>
            <a href="/quizes/<%= quizes[i].id %>/edit">
                <button>editar</button>
            </a>
        </td>
        <td>
            <form method="post" action="quizes/<%= quizes[i].id %>?_method=DELETE">
                <button onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" type="submit">
                    borrar
                </button>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<br/>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
